.card {
  position: relative;
}

.card__img {
  display: flex;
  margin: 0 0 20px;
  width: 270px;
  height: 270px;
  background: linear-gradient(to bottom right, #e9e9e9, #fff);
}

.card__img img {
  margin: auto;
}

.card__authors {
  margin: 0 0 10px;
  color: #9d9d9d;
}

.card__title {
  margin: 0 0 20px;
  font-weight: 500;
  font-size: 18px;
}

.card__title a {
  transition: all .2s ease;
}

.card__title a:focus,
.card__title a:hover {
  opacity: .8;
}
